.contact-container {
    padding: 50px;
    background-color: #1c1b1b;
    color: #ffcc00;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
  }
  
  .nav-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffcc00;
    background: transparent;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #ffcc00;
    color: #330000;
    transform: scale(1.05);
  }
  
  .contact-title {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffcc00;
  }
  
  .contact-subtitle {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffcc00;
  }
  
  .contact-description {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #ffffff;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }
  
  .contact-form label {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #ffcc00;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
  }
  
  .contact-form textarea {
    height: 150px;
    resize: none;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #330000;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
  }
  
  .email-text {
    margin-top: 30px;
    font-size: 1.5em;
    color: #ffcc00;
  }
  
  .email-link {
    font-size: 1.2em;
    color: #ffcc00;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .email-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  